.admin__title_wrapper {
    width: 100%;
}
.admin__wrapper {
    width: 100%;
    height: auto;
}

.admin__title_wrapper h1 {
    font-size: 24px;
    font-family: "Montserrat-Bold";
    color: #333;
    text-align: center;
}
.admin__btn_actions {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.admin__btn_actions button {
    width: 200px;
    height: 35px;
    font-family: "Montserrat-Bold";
    color: #fff;
    background-color: #4AB8A1;
    border-radius: 5px;
    transition: all 0.3s;
}

.admin__btn_actions button:hover {
    background-color: #358f7b;
    transition: all 0.3s;
}

.admin__actions {
    display: flex;
    justify-content: center;
    align-items: center;
}