.catalog {
    width: 100%;
    height: 100%;
}

.catalog__container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 20px;
    height: 100%;
}

.error {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog__top {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}
.catalog__show_grid {
    display: flex;
    align-items: center;
}
.btn__mobile_filter {
    background: transparent;
    font-size: 14px;
    font-family: "Montserrat-SemiBold";
    color: #333;
    transition: all 0.3s;
}

.btn__mobile_filter:hover {
    color: #545454;
    transition: all 0.3s;
}

@media(max-width: 430px) {
    .btn__mobile_filter {
        font-size: 12px;
    }
}
