.profile {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 30px;
    width: 100%;
}

@media(max-width: 550px) {
    .profile {
        column-gap: 10px;
    }
}