.imageWrapper {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 450px;
    min-height: 260px;
    height: 100%;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.productName {
    font-family: "Montserrat-Bold";
    color: #000;
}

.productCost {
    font-family: "Montserrat-Regular";
    color: #000;
}

.productCost span {
    font-family: "Montserrat-SemiBold";
}

.product__description {
    font-family: "Montserrat-Regular";
    color: #000;
}

.product__description span {
    font-family: "Montserrat-SemiBold";
}

.btn__add_basket {
    width: 100%;
    height: 35px;
    background-color: #4AB8A1;
    border: 1px solid #4AB8A1;
    border-radius: 5px;
    color: #fff;
    font-family: "Montserrat-SemiBold";
    font-size: 13px;
    transition: all .3s;
}

.btn__add_basket:hover {
    background-color: #fff;
    color: #4AB8A1;
    transition: all .3s;
}

.btn__add_basket:active {
    scale: 0.95;
    transition: all .3s;
}

.more__detailed {
    color: #000000;
    font-family: "Montserrat-SemiBold";
    font-size: 13px;
    text-align: center;
}

.more__detailed:hover {
    color: #3c3c3c;
}

.product__actions {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.product__actions_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 10px;
}

.product__actions_add {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;
}

.btn__add_product {
    width: 35px;
    height: 35px;
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat-Bold";
    background-color: #4AB8A1;
    border: 1px solid #4AB8A1;
    border-radius: 5px;
}

.btn__add_product:active {
    scale: 0.96;
    transition: all 0.3s;
}

.btn__add_product:hover {
    background-color: #fff;
    color: #4AB8A1;
    transition: all 0.3s;
}

.btn__remove_product {
    width: 35px;
    height: 35px;
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat-Bold";
    background-color: #333;
    border: 1px solid #333;
    border-radius: 5px;
}

.btn__remove_product:active {
    scale: 0.96;
    transition: all 0.3s;
}

.btn__remove_product:hover {
    background-color: #fff;
    color: #333;
    transition: all 0.3s;
}

.product__quantity_wrapper {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat-Bold";
}

.more__detailed_wrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions__wrapper {
    display: flex;
    align-items: center;

}

.btn__delete_product-basket {
    width: 35px;
    height: 35px;
    background-color: rgb(255, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    font-family: "Montserrat-SemiBold";
    font-size: 12px;
    column-gap: 5px;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}
.btn__delete_product-basket:active {
    scale: 0.96;
    transition: all 0.3s;
}

.btn__delete_product-basket svg {
    width: 18px;
    height: 20px;
    fill: transparent;
}

.btn__delete_product-basket svg path {
    stroke: #fff;
}

.btn__delete_product-basket:hover {
    background-color: rgb(186, 25, 25);
    transition: all 0.3s;
}
.rating__wrapper {
    display: flex;
    align-items: center;
    column-gap: 7px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.rating__number {
    font-size: 10px;
    font-family: "Montserrat-Medium";
    margin-top: 2.5px;
    color: #878787;
}
.btn__favorites {
    min-width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.btn__favorites svg {
    width: 60%;
    height: 60%;
}

@media(max-width: 900px) {
    .btn__favorites {
        min-width: 25px;
        height: 25px;
    }
}

@media(max-width: 500px) {
    .product {
        padding: 10px;
    }
}

@media(max-width: 430px) {
    .productName {
        font-size: 12px;
    }
    .productCost {
        font-size: 12px;
    }
    .btn__add_basket {
        height: 30px;
        font-size: 12px;
    }
    .more__detailed {
        font-size: 12px;
    }
    .btn__add_product {
        font-size: 12px;
        width: 30px;
        height: 30px;
    }
    .btn__remove_product {
        font-size: 12px;
        width: 30px;
        height: 30px;
    }
    .product__quantity_wrapper {
        font-size: 12px;
        width: 30px;
        height: 30px;
    }
    .btn__delete_product-basket {
        width: 30px;
        height: 30px;
    }
    .btn__delete_product-basket svg {
        width: 15px;
        height: 17px;
    }
    .rating__number {
        font-size: 9px;
    }
}