.imageWrapper {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 450px;
    min-height: 260px;
    height: 100%;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}
.productInfo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.productName {
    font-family: "Montserrat-Bold";
    color: #000;
}
.productCost {
    font-family: "Montserrat-Regular";
    color: #000;
}
.productCost span {
    font-family: "Montserrat-SemiBold";
}
.productDescription {
    font-family: "Montserrat-Regular";
    color: #000;
}
.productDescription span {
    font-family: "Montserrat-SemiBold";
}
.btnAddBasket {
    height: 35px;
    background-color: #4AB8A1;
    border: 1px solid #4AB8A1;
    border-radius: 5px;
    color: #fff;
    font-family: "Montserrat-SemiBold";
    font-size: 14px;
    transition: all .3s;
}
.btnAddBasket:hover {
    background-color: #fff;
    color: #4AB8A1;
    transition: all .3s;
}
.moreDetailed {
    color: #000000;
    font-family: "Montserrat-SemiBold";
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.moreDetailed:hover {
    color: #3c3c3c;
}