.reviews {
    width: 100%;
    margin-top: 30px;
}
.add__reviews {
    width: 150px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    font-family: "Montserrat-SemiBold";
    font-size: 14px;
    transition: all 0.3s;
    margin-bottom: 30px;
}
.add__reviews:hover {
    background-color: transparent;
    color: #333;
    font-family: "Montserrat-SemiBold";
    transition: all 0.3s;
}
.add__reviews_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.reviews__emty_text {
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat-Medium";
    color: #333;
}
.reviews__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 30px;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}