.form__order {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
/* 
label {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

label p {
    font-family: "IBMPlexMono-SemiBold";
    font-size: 15px;
    cursor: pointer;
}

label input {
    max-width: 350px;
    min-width: 200px;
    width: 100%;
    height: 30px;
    border: 1px solid #c7c7c7;
    padding-left: 10px;
    font-family: "IBMPlexMono-Regular";
}

label input:focus {
    border: 1px solid #535353;
}

label select {
    max-width: 350px;
    min-width: 200px;
    width: 100%;
    height: 25px;
} */

.form__label {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.order__form_title-wrapper {
    margin-bottom: 20px;
}

.order__form_title {
    font-size: 18px;
    font-family: "Montserrat-Bold";
    color: rgb(255, 45, 45);
    margin-bottom: 10px;
}

.order__form_subtitle {
    font-size: 12px;
    font-family: "Montserrat-Medium";
    color: rgb(255, 45, 45);
}

.order__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.order__info_item {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.order__info_item span {
    font-size: 16px;
    font-family: "Montserrat-Bold";
    color: #333;
}

.order__info_item p {
    font-size: 14px;
    font-family: "Montserrat-Medium";
    color: #333;
} 

.btn__add_order {
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat-Bold";
    height: 40px;
    border-radius: 5px;
    background-color: #4AB8A1;
    margin-top: 10px;
    transition: all 0.3s;
}

.btn__add_order:hover {
    background-color: #309c84;
    transition: all 0.3s;
}

.method__payment_wrapper {
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.method__payment_wrapper p {
    font-size: 16px;
    font-family: "Montserrat-Bold";
    color: #333;
    min-width: max-content;
}

.method__payment_wrapper select {
    max-width: 270px;
    width: 100%;
    cursor: pointer;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    padding: 3px;
    border: 1px solid #4a4a4a;
}

.input__bankCard {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.card__text {
    font-size: 14px;
    line-height: 20px;
    font-family: "Montserrat-SemiBold";
    color: #333;
    margin-bottom: 10px;
}

.input__bank_card {
    max-width: 500px;
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-family: "Montserrat-Medium";
    color: #333;
    box-shadow: 0px 5px 5px 4px rgba(34, 60, 80, 0.2);
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-radius: 5px;
    transition: all 0.3s;
}

.input__bank_card:hover {
    box-shadow: 0px 5px 7px 4px rgba(34, 60, 80, 0.2);
    transition: all 0.3s;
}

.input__bank_card:focus {
    box-shadow: 0px 5px 10px 4px rgba(34, 60, 80, 0.2);
    transition: all 0.3s;
}

.inputs__bankCard {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.inputs__item {
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.input__bank_card::-webkit-outer-spin-button,
.input__bank_card::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}