.order__wrapper {
    background-color: #E3E3E3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    height: 60px;
}

.btn__open_order {
    background-color: transparent;
}

.btn__open_order svg path {
    transition: all 0.3s;
}

.btn__open_order:hover svg path {
    fill: #5d5d5d;
    transition: all 0.3s;
}

.order__prev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.order__description {
    opacity: 0;
    visibility: hidden;
}

.order__description.active__order_description {
    opacity: 1;
    visibility: visible;
}

.order__wrapper.active__order {
    height: auto;
}

.order__prev p {
    color: #333;
    font-family: "Montserrat-Medium";
    font-size: 14px;
    line-height: 17px;
}

.order__prev p b {
    font-family: "Montserrat-SemiBold";
    font-size: 16px;
}

.about__order_title {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #333;;
} 

.about__order_title h2 {
    color: #333;
    font-family: "Montserrat-Bold";
    font-size: 16px;
}
.order__products {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.order__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.order__product p {
    color: #333;
    font-family: "Montserrat-Regular";
    font-size: 14px;
}

.image__product {
    height: 50px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.image__product img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.order__product_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
} 

.order__productName_link {
    font-size: 14px;
    font-family: "Montserrat-SemiBold";
    color: #333;
    transition: all 0.3s;
}

.order__productName_link:hover {
    color: #585858;
    transition: all 0.3s;
}

.order__price {
    font-size: 14px;
    font-family: "Montserrat-Medium";
    color: #333;
    min-width: max-content;
}

.order__prev_info {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

@media(max-width: 1020px) {
    .order__prev_info {
        flex-direction: column;
        align-items: start;
        row-gap: 10px;
    }
    .order__wrapper {
        height: 85px;
    }
}

@media(max-width: 720px) {
    .order__productName_link {
        font-size: 12px;
        line-height: 15px;
    }
    .order__product p {
        font-size: 12px;
    }
    .order__prev p {
        font-size: 12px;
    }
    .order__prev p b {
        font-size: 14px;
    }
    .image__product {
        flex-direction: column;
        align-items: start;
        row-gap: 10px;
        height: auto;
    }
    .about__order_title h2 {
        font-size: 14px;
    }
    .order__product {
        column-gap: 20px;
        justify-content: space-between;
    }
}

@media(max-width: 430px) {
    .order__prev p b {
        font-size: 12px;
    }
    .order__wrapper {
        padding: 10px;
        height: 100px;
    }
}