.order {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
}

.orderImageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    padding: 10px;
    column-gap: 10px;
}

.orderImageWrapper img {
    width: 90px;
    height: 115px;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.orderPrice {
    font-family: "Montserrat-Regular";
}

.orderPrice span {
    font-family: "Montserrat-Bold";
}

.orderImageWrapper img {}

.productInformation {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.orderInformation {
    max-width: 450px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 15px;
}

.orderName {
    font-family: "Montserrat-Bold";
    font-size: 16px;
    margin-top: 5px;
}

.cost {
    font-family: "Montserrat-Regular";
    font-size: 14px;
}

.cost span {
    font-family: "Montserrat-Bold";
}

.orderActions {
    width: 100%;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.btnAddOrder {
    width: 35px;
    height: 35px;
    background-color: #4AB8A1;
    border: 1px solid #4AB8A1;
    font-family: "Montserrat-Bold";
    font-size: 16px;
    transition: all 0.3s;
    color: #fff;
    border-radius: 5px;
}

.btnAddOrder:hover {
    background-color: transparent;
    color: #4AB8A1;
    transition: all 0.3s;
}

.btnRemoveOrder {
    width: 35px;
    height: 35px;
    font-family: "Montserrat-Bold";
    font-size: 16px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    transition: all 0.3s;
    border-radius: 5px;
}

.btnRemoveOrder:hover {
    background-color: transparent;
    color: #000;
    transition: all 0.3s;
}

.orderInfo {
    display: flex;
    flex-direction: column;
}
.btn__delete_product-basket {
    max-width: 190px;
    width: 100%;
    height: 35px;
    background-color: rgb(255, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    transition: all 0.3s;
    font-size: 12px;
    font-family: "Montserrat-SemiBold";
    color: #fff;
    border-radius: 5px;
}
.btn__delete_product-basket svg {
    width: 17px;
    height: 18px;
    fill: transparent;
}
.btn__delete_product-basket svg path {
    stroke: #fff;
}
.btn__delete_product-basket:hover {
    background-color: rgb(186, 25, 25);
    transition: all 0.3s;
}
.order__change_actions {
    display: flex;
    align-items: center;
    column-gap: 10px;
}