.searchForm {
    max-width: 600px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
}

.searchInputWrapper input {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding-left: 45px;
    padding-right: 15px;
    font-size: 14px;
    font-family: "Montserrat-SemiBold";
    color: #333;
    box-shadow: 0px 5px 10px -5px rgba(34, 60, 80, 0.2);
    transition: all 0.3s;
}

.searchInputWrapper input:focus {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    transition: all 0.3s;
}

.searchInputWrapper input:hover {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    transition: all 0.3s;
}

.searchIconWrapper {
    width: 22px;
    height: 100%;
    cursor: pointer;
    position: absolute;
    left: 10px;
}

.searchIconWrapper svg {
    width: 100%;
    height: 100%;
    fill: #333;
}

.searchInputWrapper {
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.btn__close_searchList {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    cursor: pointer;
    background-color: transparent;
}

.btn__close_searchList svg {
    width: 100%;
    height: 100%;
    fill: #333;
}

@media(max-width: 430px) {
    .searchInputWrapper input {
        font-size: 12px;
        padding-left: 38px;
    }
    .searchIconWrapper { 
        width: 18px;
    }
    .searchForm {
        height: 30px;
    }
}