.list__search_wrapper {
    position: absolute;
    max-width: 600px;
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    overflow: auto;
    top: 40px;
    background-color: #fff;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 3px;
}

.list__search {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.products__notFound {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Montserrat-Bold";
    font-size: 16px;
}